// Primary

$Dark: hsl(158, 36%, 37%);
$Cream: hsl(30, 38%, 92%);

// Neutral
$Verydark: hsl(212, 21%, 14%);
$Darkgrayish: hsl(228, 12%, 48%);
$White: hsl(0, 0%, 100%);
$DarkCyan: hsl(158, 36%, 37%);

$firstFamily: "Montserrat", sans-serif;
$secondFamily: "Fraunces", serif;
